@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: black;
    --secondary: white;
   }
   /* Add this to your CSS file */
@media (max-width: 769px) {
    .hide-sidebar {
      display: none;
    }
  }
